@{
    ViewData["Title"] = "Bokmarknad";
}

<div style="position:relative; top:100px; font-family:'SF Pro Display'" class="text-center">
    <h2>Välkommen till bokmarknaden.</h2>
    <br />
    <h4>Sök efter en bok</h4>
    <br />


    <p style="
        display: inline-block;
        width: 100px;
        text-align: right">
        ISBN:&nbsp&nbsp
    </p><input type="number">
    <br />
    <br />

    <p style ="
        display: inline-block;
        width: 100px;
        text-align: right">
        Titel:&nbsp&nbsp
    </p><input type="text" />
    <br />
    <br />

    <p style="
        display: inline-block;
        width: 100px;
        text-align: right">
        Författare:&nbsp&nbsp
    </p><input type="text" />
    <br />
    <br />

    <p style="
        display: inline-block;
        width: 100px;
        text-align: right">
        Årgång:&nbsp&nbsp
    </p><input type="number" />
    <br />
    <br />

    <p style="
        display: inline-block;
        width: 100px;
        text-align: right">
        Upplaga:&nbsp&nbsp
    </p><input type="number" />
    <br />
    <br />

    <button>Ta mig till böckerna!</button>
</div>