@{
    ViewData["Title"] = "Home Page";
}

<div style="position:relative; top:100px;" class="text-center" >
    <h1 style= "font-family :'SF Pro Display'; font-weight :bold" class="display-2">BookSwap</h1>
    <p style="font-family :'SF Pro Display'; font-size :x-large" class="display-5">Böcker. På nytt. </p>
    <a href="https://localhost:7275/Home/Bokmrk" class="btn btn-secondary">Ladda upp bok  ></a>
    <br />
    <br />
    <a href="https://localhost:7275/Home/Bokmrk" class="btn btn-secondary">Sök efter bok  ></a>
    <br />
    <img src="Images/bookopen.png" width="700" style="position:relative; left:-200px; top:-250px;" />
    <img src="Images/bookstack.png" height="800" style="position:relative; left:150px; top:-350px;" />
</div>
