@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BookSwap</h1>
    <p>Välkommen till vår jättefina <a href="https://docs.microsoft.com/aspnet/core">webbsida!</a>.</p>
</div>
