@{
    ViewData["Title"] = "Inlogg";
}

<div style="position:relative; top:100px; font-family:'SF Pro Display'" class="text-center">
<h4>Vänligen logga in för att fortsätta.</h4>
<br />

<p>Användarnamn:</p><input type="text">
<br />
<br />

<p>Lösenord:</p><input type="password" />
<br />
<br />
<br />
<button>Inget konto? Skapa ett nytt!</button>
</div>